<div class="left-[40rem] fixed inset-y-0 right-0 z-0 hidden lg:block xl:left-[50rem]">
  <h1 class="text-brand mt-10 flex items-center text-lg3 font-semibold leading-6">
    Firts try of elixir
  </h1>
</div>

<.flash kind={:info} flash={@flash} />
<.flash kind={:info} phx-mounted={show("#flash")}>Welcome Back!</.flash>


<.button>Send!</.button>
<.button phx-click="go" class="ml-2">Not Send!</.button>
